.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(69, 94, 235);
}

.title{
    font-size: 85px;
    color: #fff;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from{
        transform: rotateY(90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

.containerInput{
    background-color: rgb(184, 66, 66);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px;
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #420707;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder{
color: #790909;
}

.buttonSearch{
background-color: transparent;
border: 0;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(184, 66, 66);
    width: 500px;
    border-radius: 8px;
}

.main h2{
    margin: 16px 0;
    font-size: 39px;
}

.main span{
    margin-bottom: 16px;
    font-weight: bold;
}